@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: #313e51;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
}

p {
  margin: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
